html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FDF0BD;
    font-family: 'EB Garamond', serif;
    color: #4F4535;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 200px 50%;
}

main section, main, .camp, .container, .item {
    /* border: 1px solid red; */
}

#sky-bg {
    background: url("assets/sky.png") bottom/cover no-repeat;
}

#lake-bg {
    background-color: #FDF0BD;
    justify-content: center;
    display: flex;
    position: relative;
    background: url("assets/foliage.png") top/cover;
}

#lake-bg .campers {
    position: absolute;
    z-index: 3;
    bottom: 0;
}

#lake-bg .campers img {
    width: 50px;
}

#lake:hover, .camper.absent:hover {
    opacity: 0.5;
    cursor: pointer;
}

#lake {
    transition: 0.2s;
    z-index: 2;
    width: 100%;
    max-width: 700px;
    background: url("assets/lake.png") top/cover no-repeat;
}

#campers-bg {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#campers {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.camp {
    height: 100%;
    max-width: 400px;
    display: grid;
    grid-template-areas:    "X X"
                            "X X"
}

.item img {
    overflow: hidden;
    position: relative;
    width: 100%;
    object-fit: contain;
}

.item .schedule {
    max-width: 220px;
    position: relative;
    overflow-y: hidden;
    margin-top: -125px;
    margin-left: -140px;
}

/* .camp .item {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.camp .item:not(.schedule) {
    margin: auto;
    margin-bottom: 0;
}

.camper {
    transition: 0.2s;
    max-width: 80px;
    z-index: 2;
}


.fire {
    z-index: 3;
    bottom: 50px;
    max-width: 100px;
    right: 70px;
}

.tent {
    max-width: 300px;
    z-index: 1;
}

.flag {
    max-width: 80px;
    top: 80px;
    left: 45px;
}

.emoji-select:not([disabled]):hover {
    text-shadow: 0 0 4px #4F4535;
    cursor: pointer;
}

.emoji-select[disabled] {
    opacity: 1;
    filter: sepia(50%);
}

.emoji-select {
    color: #4F4535;
    transition: 0.2s;
    position: relative;
    bottom: 12px;
    right: 12px;
    z-index: 2;
    font-size: 30px;
    transform: rotate(-3deg);
    width: 39px;
    outline: none;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
}
